/* Estilos generales */
body {
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #99bbc0;
    background-image: url(media/img/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 20px antiquewhite;
    text-align: center;
    height: 20px;
}

section {
    padding: 20px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

/* Define el tamaño de fuente normal para el enlace */
nav ul li a {
    font-size: 16px;
    /* Ajusta el tamaño de fuente inicial según tus preferencias */
    transition: font-size 0.3s ease;
    /* Agrega una transición suave a la propiedad font-size */
}

/* Aplica la animación al hacer hover en el enlace */
nav ul li a:hover {
    font-size: 90px;
    /* Ajusta el tamaño de fuente al hacer hover según tus preferencias */
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    padding: 10px;
}

/* Define el tamaño de fuente normal para el enlace */
nav ul li a {
    font-size: 16px;
    /* Ajusta el tamaño de fuente inicial según tus preferencias */
    transition: font-size 0.3s ease;
    /* Agrega una transición suave a la propiedad font-size */
}

/* Aplica la animación al hacer hover en el enlace */
nav ul li a:hover {
    font-size: 20px;
    /* Ajusta el tamaño de fuente al hacer hover según tus preferencias */
}


h1 {
    color: antiquewhite;
    width: max-content;
    text-align: right;
    border-radius: 5px;
}

p {
    color: antiquewhite;
}

.contact-section {
    display: grid;
    place-items: center;
    height: 50vh;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px antiquewhite;
    border-radius: 5px;
}

.form-field {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    color: antiquewhite;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #0011ff5d;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #18181a;
    color: #e2fafd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los proyectos */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px;
}

.project:hover {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgb(10, 2, 116);
    border-radius: 9px;
}

.project h2 {
    color: #11038c;
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    color: #CCCCCC;
}

.styled-div {

    /* Borde de 2px de grosor y color negro (#333) */
    background-color: rgb(0, 0, 0);
    /* Color de fondo translúcido (valor alfa de 0.5) */
    box-shadow: 0 0 10px #faebd7;
    /* Sombra de fondo (10px de desenfoque) con color translúcido */
    padding: 20px;
    border-radius: 9px;
}

/* Configuraciones de pantalla */
@media screen and (max-width: 767px) {

    /* Estilos para pantallas pequeñas */
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Estilos para pantallas medianas */
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        margin: 15px 0;
    }
}

@media screen and (min-width: 1024px) {

    /* Estilos para pantallas grandes */
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
        margin: 20px 0;
    }
}